$myFont:'Dosis', sans-serif;



footer{
    display: grid;
    grid-template-areas: "uno due tre quattro";

    background-color:  rgba(145, 85, 6, 0.2);
    height: 100px;
    align-items: center;
    align-content: center;
    color: rgb(77, 75, 75);
    font-size: $myFont;
}
#p_footer{
    grid-area: quattro;
    color: rgb(121, 118, 118);
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 30px;
    font-family: $myFont;
    
}
